/* Desktop display */
@media only screen and (min-width: 1025px) {
    .carousel-item {
        width: 40%;
        height: 40%;
        margin: auto;
    }
}

/* Tablet Display */
@media only screen and (min-width: 415px) and (max-width: 1024px) {
    .carousel-item {
        width: 60%;
        height: 60%;
        margin: auto;
    }
}

#facebookLink {
    color: rgba(255,255,255,.55);
}

.mainTheme {
    background: #1d3557;
}

/* Footer Rules */
.page-footer p, h5, h6, h3 {
    color: #F1FAEE;
}

.footer-copyright {
    color: #F1FAEE;
}

.page-footer a {
    color: #a8dadc;
    text-decoration: none !important;
}

.page-footer a:hover {
    color: #F1FAEE;
}

main {
    margin-top: 56px;
}

.card-deck span {
    font-size: 500%;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.card-title, .card-subtitle, .card-text {
    color: #1d3557;
}

.card {
    text-align: center;
    vertical-align: middle;
    border-color: #1d3557;
    background: #a8dadc;
}

.card-body * {
    vertical-align: middle;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-family: 'Charm', cursive;
}

.navbar-brand {
    font-family: 'Charm', cursive;
    font-size: x-large;
}

.primaryTheme {
    background: #e63946;
}

/* Use for text! */
.secondaryTheme {
    color: #F1FAEE !important;
}

.tertiaryTheme {
    background: #a8dadc;
}

.fourthTheme {
    background: #457b9d;
}

.fifthTheme {
    background: #1d3557;
}