/* Desktop display */
@media only screen and (min-width: 1025px) {
    .carousel-item {
        max-width: 40%;
        max-height: 40%;
        margin: auto;
    }

    .navbar-brand {
        margin-left: 47% !important;
    }
}

/* Tablet Display */
@media only screen and (min-width: 415px) and (max-width: 1024px) {
    .carousel-item {
        width: 60%;
        height: 60%;
        margin: auto;
    }

    .navbar-brand {
        margin-left: 43% !important;
    }
}

/* Phone Display */
@media only screen and (max-width: 414px) {
    .card {
        margin: 1rem !important;
    }
}

#facebookLink {
    color: rgba(255,255,255,.55);
}

.mainTheme {
    background: #1d3557;
}

/* Footer Rules */
.page-footer p, .page-footer h3, .page-footer h5 {
    color: #F1FAEE;
}

.page-footer h3, .page-footer h5 {

}

.footer-copyright {
    color: #F1FAEE;
}

.page-footer a {
    color: #a8dadc;
    text-decoration: none !important;
}

.page-footer a:hover {
    color: #F1FAEE;
}

main {
    margin-top: 56px;
}

/* Card rules */
.card-deck span {
    font-size: 500%;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.card {
    text-align: center;
    vertical-align: middle;
}

.card-body * {
    vertical-align: middle;
}

html {
    scroll-behavior: smooth;
}

.page-footer h3, .page-footer h5 {
    font-family: 'Charm', cursive;
}

.navbar-brand {
    font-family: 'Charm', cursive;
    font-size: x-large;
}

.primaryTheme {
    background: #e63946;
}

/* Use for text! */
.secondaryTheme {
    color: #F1FAEE !important;
}

.tertiaryTheme {
    background: #a8dadc;
}

.fourthTheme {
    background: #457b9d;
}

.fifthTheme {
    background: #1d3557;
}

.carousel-inner {
    background: black;
}

body {
    font: 400 15px Lato, sans-serif;
}

/* Anchor fix for smooth scroll */
.anchor {
    display: block;
    position: relative;
    top: -56px;
    visibility: hidden;
}